# --- Backend Config ---
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
EVO_BASE_URL=
EVO_GLOBAL_KEY=

# --- Frontend Config ---
VITE_TALKMAP_SUPABASE_URL=
VITE_TALKMAP_SUPABASE_ANON_KEY=

# --- VPS/Traefik Config ---
SERVER_DOMAIN=
FRONTEND_DOMAIN=
PORT=3000
